<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title | escape }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:title" content="{{ page.title | escape }}">
  <meta name="twitter:description" content="{{ page.description }}">

  <meta name="author" content="{{ site.name }}">
  <meta name="keywords" content="{{ site.meta_tags }}">

  {% if page.thumb_image %}
    {% if page.thumb_image contains '://' %}
      <meta property="og:image" content="{{ page.thumb_image }}">
      <meta name="twitter:image" content="{{ page.thumb_image }}">
    {% else %}
      <meta property="og:image" content="{{ site.url }}{% asset '{{ page.thumb_image }}' @path %}">
      <meta name="twitter:image" content="{{ site.url }}{% asset '{{ page.thumb_image }}' @path %}">
    {% endif %}
  {% else %}
    <meta property="og:image" content="{{ site.url }}{% asset og-image.jpg @path %}">
    <meta name="twitter:image" content="{{ site.url }}{% asset og-image.jpg @path %}">
  {% endif %}

  <link href="{{ 'feed.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="{{ site.name }} Last 10 blog posts" />

  {% if site.local_fonts %}
    {% asset fonts.css %}
  {% endif %}

  {% if site.blog_theme == "light" %}
    <link rel="icon" type="image/x-icon" href="{% asset favicon-light.ico @path %}">
    <link rel="apple-touch-icon" href="{% asset apple-touch-icon-light.png @path %}">
    {% asset light.css %}
  {% else %}
    <link rel="icon" type="image/x-icon" href="{% asset favicon-dark.ico @path %}">
    <link rel="apple-touch-icon" href="{% asset apple-touch-icon-dark.png @path %}">
    {% asset dark.css %}
  {% endif %}
  
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
